<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication demo</title>
    <style>
        .btn {
            padding: 8px 12px;
            background-color: #49a1efd1;
            border-radius: 4px;
            text-decoration: none;
            color: white;
        }
    
        .btn:hover {
            background-color: #3190e4d1;
        }
    
        .middle {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        .container {
            height: 100%;
            padding: 20px;
            border: 1px solid #273d52d1;
            border-radius: 8px;
        }
    
        .input {
            width: 250px;
            display: block;
            border-radius: 4px;
            margin: 8px 0px;
            padding: 8px;
            border-width: 1px;
        }

        button {
            background-color: #054985d1;
            outline: none;
            padding: 8px 12px;
            border: none;
            border-radius: 4px;
            color: white;
            cursor: pointer;
        }

        button:hover {
            background-color: #0a64b3d1;
        }

        .error {
            color: rgb(223, 102, 102);
        }
    </style>
</head>
<body>
    <%- body %>   
</body>
</html>
